[Unit]
Description=namdevOS First Boot Configuration
ConditionFirstBoot=yes
After=network-online.target
Wants=network-online.target

[Service]
Type=oneshot
ExecStart=/usr/local/bin/namdevos-post-install.sh
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target
