# namdevOS GRUB Configuration
# Drop-in for /etc/default/grub.d/ - shell variable assignments only
# These variables are sourced by update-grub to generate the final grub.cfg

GRUB_TIMEOUT=5
GRUB_TIMEOUT_STYLE=menu
GRUB_DISTRIBUTOR="namdevOS"
GRUB_CMDLINE_LINUX_DEFAULT="quiet splash"
GRUB_CMDLINE_LINUX=""
