[General]
favorites=xfce4-terminal.desktop,firefox.desktop,thunar.desktop,terminator.desktop
recent=
button-title=Applications
button-icon=namdevos-logo
button-single-row=false
show-button-title=true
show-button-icon=true
launcher-show-name=true
launcher-show-description=true
launcher-show-tooltip=true
item-icon-size=2
hover-switch-category=false
category-show-name=true
category-icon-size=1
sort-categories=false
view-as-icons=false
default-category=0
recent-items-max=10
favorites-in-recent=true
position-search-alternate=true
position-commands-alternate=false
position-categories-alternate=true
stay-on-focus-out=false
confirm-session-command=true
menu-width=450
menu-height=500
menu-opacity=100
command-settings=xfce4-settings-manager
show-command-settings=true
command-lockscreen=xflock4
show-command-lockscreen=true
command-switchuser=dm-tool switch-to-greeter
show-command-switchuser=false
command-logoutuser=xfce4-session-logout --logout
show-command-logoutuser=true
command-restart=xfce4-session-logout --reboot
show-command-restart=true
command-shutdown=xfce4-session-logout --halt
show-command-shutdown=true
search-actions=5
